.home{
    height:100%;
    display:grid;
    grid-template-rows: repeat(100px);
    grid-row-gap: 30px;
}
.jokeBox{
    display: grid;
    grid-row-gap: 20%;
    grid-template-rows: 40% 40%;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(141, 201, 225, 0.5);
    padding: 2%;
    border-radius: 10px;
}

.joke{
    color:purple;
    grid-row: 1/2;
}

.punch{
    color:red;
    grid-row: 2/3;
}

