body{
    margin: 0;
    height: 100%;
}
@keyframes test{
    from {background-color: red;}
    to {background-color: yellow;}
}


.squareBox{
    display:grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    width: 100vw;
    height: 100vh;
}
#square{
    animation-name: test;
    animation-duration: 4s;
}