body{margin:0;
font-size: 100%;
}

.NavBar{
    height:2rem;
    display: grid;
    grid-template-columns: 40vw 30vw 30vw;
    grid-template-rows: 2rem;
    border-bottom: 1px solid #1DD0CE;
    background-color: white;
}
.NavName{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Alex Brush";
    padding-left: 1em;
    font-size: 1.5rem;
    color: #1DD0CE;
    letter-spacing: 2.5px;
}
.NavSocialMedia{
}
.NavLinks{
    color: #0E9594;
    display:grid;
    grid-template-columns: repeat(4, 25%);
}
.NavLink{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-family: Open Sans;
}
.NavLink:hover{
    background-color: #F5DFBB;
    cursor: pointer;
    transition: .6s;
}
/* ++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++ABOUT Page++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++ */

.AboutContainer{
    
}